<?xml version="1.0" encoding="utf-8"?>

<html>

<head>
<meta charset="utf-8">
	<link href="../../Content/bootstrap.min.css" rel="stylesheet">
	<link href="../../Content/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/custom.css" rel="stylesheet">
	<script src="../../Scripts/jquery-1.9.1.min.js"></script>
	<script src="../../Scripts/bootstrap.js"></script>
	<script src="../../Scripts/bootstrap.min.js"></script>
	<script src="../js/custom.js"></script>
</head>

<body>
	<div class="container-fluid main">
		<div class="page-header">
			<h1>Header</h1>  		
		</div>
		<div class="row">
			<div class="col-md-2" id="sidebar">
				<h2>Sidebar</h2>
				<h3>
					Item:
				</h3>
				<div>
					<ul>
						<li><a href="#">Item A</a>
							<ul>
								<li><a href="#">Sub Item 1</a></li>
								<li><a href="#">Sub Item 2</a></li>
							</ul>						
						</li>
						<li><a href="#">Item B</a></li>		
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<h2>Content</h2>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">DocNet was created by Stephen Bos, Scott Byrne, Chris Carr, and Keith Rollans.</p>
		</div>
	</footer>
</body>

</html>
