<log4net>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RootFileLogger"/>
  </root>

  <logger name="DocNet.Console">
    <level value="DEBUG"/>
    <appender-ref ref="CommandLineConsoleAppender"/>
    <appender-ref ref="CommandLineFileAppender"/>
  </logger>

  <logger name="DocNet.Plugin">
    <level value="DEBUG"/>
    <appender-ref ref="PluginFileAppender" />
  </logger>
  
  <logger name="DocNet.Core">
    <level value="DEBUG"/>
    <appender-ref ref="CoreFileAppender"/>
  </logger>

  <appender name="RootFileLogger" type="log4net.Appender.RollingFileAppender">
    
  </appender>
  
  <appender name="CommandLineConsoleAppender" type="log4net.Appender.ConsoleAppender">
    
  </appender>

  <appender name="CommandLineFileAppender" type="log4net.Appender.RollingFileAppender">
    
  </appender>

  <appender name="PluginFileAppender" type="log4net.Appender.RollingFileAppender">
    
  </appender>

  <appender name="CoreFileAppender" type="log4net.Appender.RollingFileAppender">
    
  </appender>
  
</log4net>