<log4net>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RootFileLogger"/>
  </root>

  <logger name="DocNet.Console">
    <level value="DEBUG"/>
    <appender-ref ref="CommandLineAppender"/>
    <appender-ref ref="CommandLineFileAppender"/>
  </logger>
  
  <logger name="DocNet.Core">
    <level value="DEBUG"/>
    <appender-ref ref="CommandLineAppender"/>
    <appender-ref ref="CoreFileAppender"/>
  </logger>

  <appender name="RootFileLogger" type="log4net.Appender.RollingFileAppender">
    <file value="../../../Logs/RootLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level: %message %exception%newline"/>
    </layout>
  </appender>
  
  <appender name="CommandLineAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{ABSOLUTE}] %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="CommandLineFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../../../Logs/CommandLineLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level: %message %exception %newline"/>
    </layout>
  </appender>

  <appender name="CoreFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../../../Logs/CoreLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level: %message %exception %newline"/>
    </layout>
  </appender>
  
</log4net>