<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Highlight.js" version="1.0.4" targetFramework="net45" />
  <package id="bootstrap" version="3.3.4" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="Onion.SolutionParser.Parser" version="1.0.0.0" targetFramework="net45" />
  <package id="RazorGenerator.Templating" version="2.3.3" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
</packages>