@*Generator: WebPagesHelper GeneratePrettyNames: true Namespace: DocNet.Razor.Helpers *@


@helper RenderDeclarationBlock(string declaration)
{
    <div class="code-block">
        <pre><code class="cs">@(declaration)</code></pre>
    </div>

}