@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.RazorGenerator.Views Acc*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@inherits BaseTemplate<ClassModel>

<p>Class: @Model.FullName</p>