@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.RazorGenerator.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html
@using DocNet.Core.Output.Html.Views
@inherits BaseTemplate<ViewModel<EnumModel>>

<p>Enum: @ViewData.Model.FullName</p>