@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits BodyTemplate<EnumModel>

<p>Enum: @Model.FullInternalName</p>

<!--Summary
    Members
    Remarks
    Examples
    See Also-->

<!--Summary-->
<p>@{CommentTag.RenderSummary(Model.DocComment.Summary);}</p>

<!--Members-->
<p>
    <h3>Members</h3>
    <table class="table table-bordered table-hover">
        @foreach(string s in Model.Fields){
            <tr><td>@s</td></tr>
        }
    </table>
</p>

<!--Remarks-->
<p>
    <h3>Remarks</h3>
    @{CommentTag.RenderRemarks(Model.DocComment.Remarks);}
</p>

<!--Examples-->
<p>
    <h3>Examples</h3>
    @{CommentTag.RenderExample(Model.DocComment.Example);}
</p>

<!--See Also-->
<p>
    <h3>See Also</h3>
    @{CommentTag.RenderSeeAlso(Model.DocComment.SeeAlso);}
</p>
