@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.RazorGenerator.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@inherits BaseTemplate<NamespaceModel>

<p>Namespace: @Model.FullName</p>
