@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Output.Html.Views
@inherits PageTemplate


@helper RenderBody()
{
    Body.Execute();
}

<h1>Title</h1>
@RenderBody()