@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Output.Html.Views
@using DocNet.Razor.Helpers
@inherits PageTemplate


@helper RenderBody()
{
    Body.Execute();
}

<?xml version="1.0" encoding="utf-8" ?>

<html>
@PageHelper.RenderHead(CssFiles, ScriptFiles)
<body>
    <div class="container-fluid">
        <div class="page-head row">
            <div class="col-md-3">
                <h1>Doc<span id="head">Net</span></h1></div>
            <div class="col-md-9">
            </div>
        </div>
        <div class="row main">
            <div class="col-md-3 sidebar">
                <h2>Sidebar</h2>
                <div id="over">
                    <ol>
                        @PageHelper.RenderSidebar()
                    </ol>
                </div>
            </div>
            <div class="col-md-9 content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">DocNet was created by Stephen Bos, Scott Byrne, Chris Carr, and Keith Rollans.</p>
        </div>
    </footer>
</body>

</html>
