@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.RazorGenerator.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html
@using DocNet.Core.Output.Html.Views
@inherits BaseTemplate<ViewModel<PropertyModel>>

<p>Property: @ViewData.Model.Name</p>