@* Generator: Template  GeneratePrettyNames: true Namespace: DocNet.Razor.Views*@
@using DocNet.Core.Models.CSharp
@using DocNet.Core.Output.Html.Views
@inherits BodyTemplate<PropertyModel>

<p><h1>Property: Filename</h1></p>

<!--Type
    Summary
    Exceptions
    Remarks
    Examples
    See Also-->

<!--Type-->
<p><h2>Type: String</h2></p>

<!--Summary-->
<p>The name of the input file.</p>

<!--Exceptions-->
<p>
    <h3>Exceptions</h3>
    <table cellpadding="10">
        <tr>
            <td>FileNotFoundException</td>
            <td>The file specified by the input filename does not exist.</td>
        </tr>
        <tr>
            <td>BullshitException</td>
            <td>Exists solely because I want 2 items under every category</td>
        </tr>
    </table>
</p>

<!--Remarks-->
<p>
    <h3>Remarks</h3>
    This is entirely unremarkable.
</p>

<!--Example-->
<p>
    <h3>Example</h3>
    The following snippet demonstrates usage of the property.
    <br /><br />
    Filestream fs = File.Open(filename, FileMode.Open);
</p>

<!--See Also-->
<p>
    <h3>See Also</h3>
    <b>Reference</b><br />
    This page<br />
    This other page
</p>
